@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .heading-1 {
    @apply text-2xl;
    @apply lg:text-3xl;
    @apply font-light;
    @apply text-black-50;
    @apply dark:text-white-200;
  }
  .heading-2 {
    @apply text-2xl;
    @apply font-medium;
    @apply text-black-50;
    @apply dark:text-white-200;
  }
  .heading-3 {
    @apply text-xl;
    @apply font-medium;
    @apply text-black-50;
    @apply dark:text-white-200;
  }

  .heading-4 {
    @apply uppercase;
    @apply font-medium;
    @apply text-black-50;
    @apply dark:text-white-200;
  }

  .text-large {
    @apply text-lg;
    @apply font-normal;
    @apply text-black-50;
    @apply dark:text-gray-50;
    @apply text-balance;
  }

  .text-medium {
    @apply text-base;
    @apply font-normal;
    @apply text-black-50;
    @apply dark:text-gray-50;
    @apply text-balance;
  }

  .text-small {
    @apply text-sm;
    @apply font-normal;
    @apply text-gray-500;
    @apply dark:text-gray-200;
    @apply text-balance;
  }

  .text-detail {
    @apply text-base;
    @apply font-normal;
    @apply text-gray-400;
    @apply uppercase;
  }

  .link {
    @apply !font-medium;
    @apply data-[variant=flat]:!font-medium;
    @apply hover:bg-opacity-75;
    @apply hover:data-[variant=flat]:opacity-75;
    @apply transition-opacity;
  }

  .link-textOnly {
    @apply text-lg;
    @apply font-normal;
    @apply text-purple-200;
    @apply dark:text-purple-100;
    @apply transition-opacity;
    @apply relative;
    @apply before:content-[''];
    @apply before:absolute;
    @apply before:left-0;
    @apply before:top-6;
    @apply before:w-full;
    @apply before:h-0.5;
    @apply before:bg-purple-200;
    @apply before:scale-x-0;
    @apply before:transition-transform;
    @apply hover:before:scale-x-100;
  }

  .box-grid {
    @apply grid;
    @apply grid-cols-24;
    @apply gap-y-3;
    @apply gap-x-2;
  }

  .box-padding {
    @apply p-6;
  }

  .editable-box {
    @apply border-1;
    @apply border-gray-50;
    @apply bg-gradient-to-b;
    @apply from-white-300;
    @apply to-white-100;
  }
}
